/* 

Basics

*/

:root {
    font-size: 62.5%;
    --color-orange: #E76F51;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

/* 

Helper Classes

*/

.container {
    max-width: 100%;
    padding: 0 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

/* 

Header

*/

.header {
    background-image: linear-gradient(
            to right,
            rgba(59, 55, 53, 0.5),
            rgba(59, 55, 53, 0.5)
        ),
        url("../files/images/header-bg.jpg");
    background-size: cover;
    height: 50rem;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
}

/* 

Navigation

*/

.nav {
    font-size: 1.8rem;
    position: fixed;
    width: 25rem;
    padding: 3rem;
    /* left: 0; */
    left: -25rem;
    top: 0;
    bottom: 0;
    color: #fff;
    transition: all 250ms linear;
    background: #292524;
}

.nav--open {
    left: 0;
}

.nav__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
}

.nav__link {
}

.nav__link--active {
}

.nav__account {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav__btn {
    padding: 1rem 1.4rem;
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1.8rem;

}

.nav__btn--border {
    border: 0.1rem solid #fff;
    border-radius: 100rem;
}

.header__menu-btn {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--open + .header__menu-btn {

}


.header__menu-btn-row,
.header__menu-btn-row::after,
.header__menu-btn-row::before {
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color-orange);
    border-radius: 2rem;
    transition: all 250ms linear;
}

.header__menu-btn-row {
}

.nav--open + .header__menu-btn .header__menu-btn-row {
    background-color: rgba(0, 0, 0, 0);
}

.header__menu-btn-row::before {
    content: "";
    position: relative;
    top: .5rem;
}
.nav--open + .header__menu-btn .header__menu-btn-row::before {
    top: .1rem;
    transform: rotate(45deg);
}

.header__menu-btn-row::after {
    content: "";
    position: relative;
    bottom: .7rem;
}

.nav--open + .header__menu-btn .header__menu-btn-row::after {
    bottom: .1rem;
    transform: rotate(-45deg);
}
