/* 

-- Basics --

*/
:root {
    font-size: 62.5%;
    --color-primary: #e76f51;
    --color-secondary: #faf4f2;
    --color-white: #fff;
    --color-light-grey: rgba(141, 141, 141, 0.1);
    --color-grey: #8d8d8d;
    --color-dark-grey: #3b3735;
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Archivo", fantasy;
    --transition-hover: all 150ms linear 75ms;
}

/* 

* Opinionated

*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-family: var(--font-primary);
    background-color: var(--color-secondary);
    font-size: 1.6rem;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 

-- Helper Classes --

*/

.container {
    max-width: 100%;
    padding: 0 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

/* 

-- Components --

*/

.btn {
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20.5rem;
    height: 5rem;
    background: var(--color-primary);
    border-radius: 100rem;
    font-family: var(--font-primary);
    font-weight: 500;

}

/* 

-- App Styles --

*/

/* 

* Header

*/

.header {
    padding: 1.5rem 0;
    background-image: linear-gradient(
            to right,
            rgba(59, 55, 53, 0.5),
            rgba(59, 55, 53, 0.5)
        ),
        url("../files/images/header-bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 85vh;
    border-radius: 0 0 10rem 10rem;
}

/* 

- Header Row - 

*/

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo-wrapper {
    max-width: 5rem;
    height: 5rem;
}

.header__logo {
    width: 100%;
    height: 100%;
}

/* 

* Navigation

*/

.nav {
    font-size: 1.8rem;
    position: fixed;
    width: 26rem;
    padding: 3rem;
    left: -26rem;
    top: 0;
    bottom: 0;
    transition: all 250ms linear;
    background: var(--color-dark-grey);
    color: var(--color-white);
    overflow: auto;
}

.nav--open {
    left: 0;
    z-index: 1000;
}

.nav__title {
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 2rem;
    border-bottom: 0.1rem solid var(--color-white);
    padding: 0 0 1rem;
    margin: 0 0 1.5rem;
    text-align: center;
}

/* 

- Nav links -

*/

.nav__links {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: column;
    gap: 0.8rem;
}

.nav__link-wrapper {
}

.nav__link {
    transition: var(--transition-hover);
    position: relative;
}

.nav__link:hover {
    margin-left: 2rem;
}

.nav__link::before {
    content: "";
    height: 0.2rem;
    width: 0rem;
    position: absolute;
    left: 0rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background: var(--color-primary);
    border-radius: 100rem;
    transition: var(--transition-hover);
}

.nav__link:hover::before {
    width: 1.5rem;
    left: -2rem;
}

.nav__link--active {
}

/* 

- Nav Button -

*/

.nav__btn-wrapper {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__btn {
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    padding: 1rem 1.4rem;
    background: transparent;
    color: var(--color-white);
    border: 0;
    font-size: 1.8rem;
    border: 0.1rem solid var(--color-white);
    transition: var(--transition-hover);
    cursor: pointer;
    flex-grow: 1;
    flex-basis: 50%;
}

.nav__btn:hover {
    color: var(--color-dark-grey);
    background-color: var(--color-white);
}

.nav__btn--border {
}

.nav__btn--border:hover {
}

/* 

- Header menu button for mobile

*/

.header__menu-btn {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 2rem;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--open + .header__menu-btn {
}

.header__menu-btn-row,
.header__menu-btn-row::after,
.header__menu-btn-row::before {
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color-primary);
    border-radius: 2rem;
    transition: all 250ms linear;
}

.header__menu-btn-row {
}

.nav--open + .header__menu-btn .header__menu-btn-row {
    background-color: transparent;
}

.header__menu-btn-row::before {
    content: "";
    position: relative;
    top: 0.5rem;
}
.nav--open + .header__menu-btn .header__menu-btn-row::before {
    top: 0.1rem;
    transform: rotate(45deg);
}

.header__menu-btn-row::after {
    content: "";
    position: relative;
    bottom: 0.7rem;
}

.nav--open + .header__menu-btn .header__menu-btn-row::after {
    bottom: 0.1rem;
    transform: rotate(-45deg);
}

/* 

- Header Contents -

*/

.header__content {
    color: var(--color-white);
    text-align: center;
}

.header__title {
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 4.5rem;
    margin: 10rem 0 2.5rem;
    line-height: 1.3;
}

.header__desc {
    font-size: 1.8rem;
    margin: 0 auto 2.5rem;
    max-width: 52rem;
}

.header__btn {
    margin-bottom: 25rem;
}

/* 

* Main

*/
.main {
}
/* 

* Services

*/
.services {
    position: relative;
    top: -10rem;
}

.services__wrapper {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.services__service {
    color: var(--color-dark-grey);
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: var(--color-white);
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
    width: 33rem;
}

.services__service-img {
}

.services__service-title {
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 1.8rem;
    margin: 3.5rem 0 2rem;
}

.services__service-desc {
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

/* 

- Destinations -

*/

.destinations {
    position: relative;
}

.destinations__wrapper {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 3rem;
}

.destinations__icon {
}

.destinations__title {
    font-family: var(--font-secondary);
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    line-height: 1.3;
    color: var(--color-dark-grey);
}

.destinations__item-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.destination {
    max-width: 100%;
    background: var(--color-white);
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
    width: 33rem;
    flex-grow: 1;
}

/*
! bug: .destination__img doesn't fill the whole height of .destination__img-wrapper
 */

.destination__img-wrapper {
    position: relative;
    margin-bottom: 2.5rem;
}

.destination__img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.destination__like-wrapper {
    position: absolute;
    background: var(--color-white);
    width: 4rem;
    height: 4rem;
    top: 2rem;
    right: 2rem;
    border-radius: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.destination__like {
}

.destination__price {
    position: absolute;
    background: var(--color-white);
    border-radius: 1.4rem 1.4rem 0 0;
    left: 0;
    right: 0;
    bottom: -2.5rem;
    margin: 0 auto;
    min-width: 14.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5rem;
    width: max-content;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--color-primary);
}

.destination__title {
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.destination__desc {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}

.destination__btn {
    background: var(--color-light-grey);
    color: var(--color-grey);
}

.destinations__btn {
    margin-top: 3rem;
    color: var(--color-primary);
    background: transparent;
    border: 0.1rem solid var(--color-primary);
}

.destinations__shape {
    position: absolute;
    z-index: -1;
}

.destinations__shape--bottom-left {
    bottom: 10rem;
    left: -40%;
    max-width: 150%;
    overflow: hidden;
    object-fit: contain;
}

.destinations__shape--top-right {
    top: -10rem;
    right: -40%;
    max-width: 150%;
    overflow: hidden;
    object-fit: contain;
}
