@media screen and (min-width: 576px) {
    .container {
        max-width: 54rem;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 72rem;
    }

    .nav {
        padding: 0 0 0 3rem;
        display: flex;
        position: static;
        background: transparent;
        color: var(--color-white);
        flex-direction: row;
        width: auto;
    }

    .nav__title {
        display: none;
    }

    .nav__links {
        flex-direction: row;
        align-items: center;
    }

    .nav__link {
        color: var(--color-grey);
        position: relative;
    }

    .nav__link:hover {
        margin: 0;
        color: var(--color-white);
    }

    .nav__link::before {
        all: unset;
    }

    .nav__link--active {
        color: var(--color-white);
        position: relative;
        z-index: 1;
    }

    .nav__link:hover::before {
        width: 3rem;
        left: 0;
    }

    .nav__link--active::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        height: 0.2rem;
        width: 3rem;
        transform: rotate(45deg);
        background: var(--color-primary);
        z-index: -1;
    }

    .nav__btn-wrapper {
        display: none;
    }

    .header__menu-btn {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 96rem;
    }

    .nav {
        gap: 2rem;
        width: 100%;
        justify-content: space-between;

    }

    .nav__btn-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .nav__btn {
        border: none;
        width: 10rem;
        padding: 1rem 1.4rem;
    }

    .nav__btn:hover {
        background: transparent;
        color: var(--color-white);
        
    }

    .nav__btn--border {
        border: 0.1rem solid var(--color-white);
        border-radius: 100rem;
    }

    .nav__btn--border:hover {
        background: var(--color-white);
        color: var(--color-dark-grey);
    }

    .header__title {
        font-size: 8.1rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 114rem;
    }
}

/* Not needed now */
/* 
@media screen and (min-width: 1440px) {
    .container {
        max-width: 137rem;
    }
}  */
